[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "==1.2.7.dev6"
behave-html-pretty-formatter = "==1.14.1"
certifi = "==2024.8.30"
charset-normalizer = "==3.3.2"
dataclasses-json = "==0.6.7"
distlib = "==0.3.8"
dominate = "==2.9.0"
dynaconf = "==3.2.4"
filelock = "==3.16.0"
idna = "==3.10"
markdown = "==3.7"
numpy = "==2.1.1"
pandas = "==2.2.2"
parse = "==1.20.2"
parse-type = "==0.6.3"
pillow = "==10.3.0"
pipenv = "==2024.0.1"
platformdirs = "==4.3.3"
pymupdf = "==1.24.9"
pymupdfb = "==1.24.9"
python-dateutil = "==2.9.0.post0"
pytz = "==2024.2"
requests = "==2.32.4"
six = "==1.16.0"
tzdata = "==2024.1"
urllib3 = "==2.5.0"
virtualenv = "==20.26.6"
xmltodict = "==0.13.0"
colorama = "==0.4.6"
cucumber-expressions = "==18.0.1"
cucumber-tag-expressions = "==6.2.0"
marshmallow = "==3.26.1"
mypy-extensions = "==1.1.0"
packaging = "==25.0"
tomli = "==2.2.1"
typing-inspect = "==0.9.0"
typing-extensions = "==4.14.0"

[dev-packages]

[requires]
python_version = "3.10"
