trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0 6 * * 1-5" # Runs from monday to friday
    displayName: Scheduled run
    branches:
      include:
        - main
    always: true

variables:
  # Python version: 3.x
  pythonVersion: '3.x'
  # Folder name of this sub-repository
  working-dir: '.'
  # Project root folder
  projectRoot: $(System.DefaultWorkingDirectory)/$(working-dir)

pool:
  vmImage: 'ubuntu-22.04'

parameters:
  - name: env
    displayName: Target Environment
    type: string
    default: dev
    values:
      - dev
      - uat

  - name: tag
    displayName: Target tests tag (use unquoted "all" to run every un-skipped test)
    type: string
    default: 'all'
    values:
      - all
      - aca
      - gpd
      - debt_positions
      - payment
      - classification
      - debt_positions_file
      - receipts_file
      - send
      - classification_outcome9
      - assessments
      - sil_debt_positions
      - debt_position_mixed
      - debt_position_mixed_classification
stages:
  - stage: Feature_tests
    dependsOn: [ ]
    pool:
      name: 'p4pa-${{ parameters.env }}-linux-app'
    jobs:
      - job: "${{ upper(parameters.env) }}_Run_all_feature_tests"
        condition: and(succeeded(), or(eq('${{ parameters.tag }}', ''), eq('${{ parameters.tag }}', 'all')))
        strategy:
          maxParallel: 3
          matrix:
            debt positions:
              current_tag: 'debt_positions'
            classification:
              current_tag: 'classification'
            debt_positions_file:
              current_tag: 'debt_positions_file'
            receipts_file:
              current_tag: 'receipts_file'
            send:
              current_tag: 'send'
            assessments:
              current_tag: 'assessments'
            sil_debt_positions:
              current_tag: 'sil_debt_positions'
        steps:
          - checkout: self
          - template: template\test-run.yml
            parameters:
              env: ${{ parameters.env }}
              tag: '$(current_tag)'
      - job: "${{ upper(parameters.env) }}_Run_feature_tests_by_tag"
        condition: and(succeeded(), and( not(eq('${{ parameters.tag }}', '')), not(eq('${{ parameters.tag }}', 'all'))))
        steps:
          - checkout: self
          - template: template\test-run.yml
            parameters:
              env: ${{ parameters.env }}
              tag: ${{ parameters.tag }}
